<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,
    inital-scale=1.0">
    <title>RMS.GG - Rate My Summoner</title>
    <link href="{{ url_for('static', path='/style.css') }}" rel="stylesheet">
</head>

<body>

    <div class="searchContainer">
        <form action="/summoner/" method="get" class="searchBar" >
            <input type="text" placeholder="Summoner Name">
            <button type="submit"></button>
        </form>
    </div>


</body>

</html>